@mixin elementsLayout($dir: row, $justify: center, $align: center, $gap: 0) {
  @if ($gap == 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
  } @else {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
  }
}
