$bgColor-redTeam: radial-gradient(
  circle,
  rgb(231, 102, 60) 0%,
  rgb(72, 12, 2) 100%
);
$bgColor-blueTeam: radial-gradient(
  circle,
  rgb(91, 174, 215) 0%,
  rgb(5, 60, 84) 100%
);

$fontFamily: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
